@font-face {
    font-family: "Cus";
    src:url("../fonts/evo.otf");
}
@font-face {
    font-family: "Cuso";
    src:url("../fonts/wevo.otf");
}
body{
    margin: 0;
    background-color:#eacdcf;
    border-color: aqua;
   
}
.im{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 300%;
    font-family: "Cus";
    font-weight:bold;
}

#d{
    background-position: center;
    position: relative;
    min-height: 80vh;
    color:white;
    background-image: url("../images/a.jpg");
    padding: 15% 40% 1% 12%;

}
.d1{
    min-height:20vh;
    background-color: white;
    padding: 50px 80px;
}
#d2{
    background-position:bottom;
    min-height: 80vh;
    color:#7b7b7b;
    background-image: url("../images/re3.jpg");
    padding: 20% 50% 1% 12%;
}
.fly{
    position: relative;
    text-align:center;
}
.wr{
    font-family: Cuso;
    text-align:center;
    position:relative;
    letter-spacing: 1px;
    font-size:20px
}
.d3{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    min-height: 80vh;
    color:white;
    font-size: 300%;
    font-family: "Cus";
    font-weight:bold;
    padding: 20% 50% 1% 12%;
}
#sep{
    background-color: #f4f4f4;
    font-size: 300%
}
#se{
    font-size:40px
}
#jo1{
    background-image: url("../images/rend.jpg");
}
#jo2{
    background-image: url("../images/mat.jpg");
}
#jo3{
    background-image: url("../images/ref.jpg");
}
@media only screen and (max-device-width: 700px) {
    .d3, .im{
        background-attachment: scroll;
    }
}